<!--
    ioBroker.vis iobroker.vis-keyboard Widget-Set

    version: "0.0.1"

    Copyright 10.2015-2016 Steffen Schorling<steffen.schorling@googlemail.com>
-->
<!-- here you can include so many css as you want -->
<link rel="stylesheet" href="widgets/iobroker.vis-keyboard/css/style.css" />
<!-- here you can include so many js-files as you want -->
<script type="text/javascript" src="widgets/iobroker.vis-keyboard/js/iobroker.vis-keyboard.js"></script>


<link rel="stylesheet" type="text/css" href="widgets/vkb/css/keyboard-previewkeyset.min.css"/>
<link rel="stylesheet" type="text/css" href="widgets/vkb/css/keyboard.min.css"/>


<script type="text/javascript" src="widgets/vkb/js/jquery.keyboard.js"></script>
<!--<script type="text/javascript" src="widgets/vkb/js/jquery.keyboard.extention-extender.min.js"></script>-->
<script type="text/javascript" src="widgets/vkb/js/german.min.js"></script>



<script id="tplvkb_all"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vkb/img/prev_vkb.png"></img>'
		data-vis-set="vkb"
		data-vis-type="project"
		data-vis-name="Virtual Keyboard"
		data-vis-attrs="">
    <div class="vis-widget <%== this.data.attr('class') %>" style=" width: 190px; height: 22px;" id="<%= this.data.attr('wid') %>">
        <div class="vis-widget-body" <%= (el) -> vis.binds.iobroker.vis_keyboard.all(el, data) %>>
			<div style="border: 1px solid red;background: #ffffff" class="vkb">Virtual Key Bord - ALL</div>
        </div>
    </div>














